<h1 class="ml-5 mt-3">My tasks</h1>
<div class="card-group">
  <% @tasks.each do |task| %>
    <div class="card " style="width: 18rem;">
      <div class="card-body ">
        <h5 class="card-title "><%= link_to task.title, task_path(task) %></h5>
        <p class="card-text "><%= task.details %></p>
          <% if task.completed %>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" checked class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"></label>
            </div>
          <% else %>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"></label>
            </div>
          <% end %>
          </label>
      </div>
    <button type="button" class="btn btn-outline-danger text-white"><%= link_to "Delete",task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></button>
    </div>
  <% end %>
</div>
<button type="button" class="ml-2 btn"><%= link_to "Create a new task", tasks_new_path %></button>
</div>
